name: "Ubuntu LTS with gemini-cli"

on:
  schedule:
# Build Every Months
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions:
  contents: write  

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install Needed Dependencies
        run: |
          sudo apt update && sudo apt install -yq curl xz-utils
          curl -L -o /tmp/mmdebstrap.deb http://ftp.us.debian.org/debian/pool/main/m/mmdebstrap/mmdebstrap_1.5.7-3_all.deb
          sudo apt install -yq /tmp/mmdebstrap.deb
          curl -L -o /tmp/keyring.deb http://ftp.us.debian.org/debian/pool/main/d/debian-archive-keyring/debian-archive-keyring_2025.1_all.deb
          sudo apt install -yq /tmp/keyring.deb
      - name: Start Building
        run: |
          curl -L -o ubuntu-lts-aarch64.tar.xz https://github.com/arfshl/pd-custom-rootfs/releases/download/ubuntu-lts/ubuntu-lts-aarch64.tar.xz
          tar --exclude=dev/* -xJf ubuntu-lts-aarch64.tar.xz
          sudo mkdir -p $GITHUB_WORKSPACE/./dev
          sudo mkdir -p $GITHUB_WORKSPACE/./proc
          sudo mkdir -p $GITHUB_WORKSPACE/./sys
          sudo mkdir -p $GITHUB_WORKSPACE/./tmp
          sudo chmod -R 777 $GITHUB_WORKSPACE/.
          sudo mount --bind /dev $GITHUB_WORKSPACE/./dev
          sudo mount --bind /proc $GITHUB_WORKSPACE/./proc
          sudo mount --bind /sys $GITHUB_WORKSPACE/./sys
          sudo chroot $GITHUB_WORKSPACE/. /bin/sh -c "apt update && npm install -g yarn && yarn global add @google/gemini-cli"
          sudo umount -l $GITHUB_WORKSPACE/./dev
          sudo umount -l $GITHUB_WORKSPACE/./proc
          sudo umount -l $GITHUB_WORKSPACE/./sys
          sudo tar --exclude=dev/* -cf - ./ | xz -9 -T0 -c > ubuntu-gemini-aarch64.tar.xz
          
      - name: Push to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Ubuntu LTS with gemini-cli
          files: |
            ubuntu-gemini-aarch64.tar.xz
          preserve_order: true
          make_latest: true
